* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --first-color: #000;
    --second-color: #fff;
    --third-color: #8ecae6;
    --fourth-color: #219ebc;
    --fifth-color: #023047;
    --sixth-color: #ffb703;
    --seventh-color: #fb8500;
}
  
html {
    height: 100%;
    box-sizing: border-box;
}
  
body {
    position: relative;
    margin: 0;
    min-height: 100%;
    padding-bottom: 4.47rem;
    box-sizing: inherit;
    font-family: 'Inter', sans-serif;
    background-color: var(--second-color);
}

/* Global Styles */
.display-text {
    font-family: 'Carter One', sans-serif;
}

h1.display-text {
    font-size: 40px;
}

h2.display-text {
    font-size: 36px;
    text-align: center;
}

h3.display-text {
    font-size: 32px;
    text-align: center;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
    font-weight: 100;
}

a {
    text-decoration: none;
    color: var(--fourth-color);
}

.btn {
    background-color: var(--seventh-color);
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid var(--second-color);
    color: var(--second-color);
}

.btn:hover {
    background-color: var(--fourth-color);
}

.inv-btn {
    background-color: var(--fourth-color);
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid var(--second-color);
    color: var(--second-color);
}

.inv-btn:hover {
    background-color: var(--seventh-color);
}

.btn-shadow {
    filter: drop-shadow(2px 2px 1px rgba(0,0,0,0.2));
}

.shadow {
    filter: drop-shadow(4px 4px 2px rgba(0,0,0,0.4));
}

/* Header */
header {
    padding: 20px 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--fifth-color);
}

header a {
    color: var(--second-color);
}

/* Nav & Footer Menus */
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.menu li {
    padding: 12px 6px;
}

.menu a {
    padding: 5px;
}

.menu a:hover {
    background-color: var(--fourth-color);
    border-radius: 5px;
    padding: 5px;
    color: var(--second-color);
}

/* Hero Section */
.hero {
    padding: 70px 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.hero h2 {
    text-align: center;
    line-height: 1.2;
}

.hero p {
    text-align: center;
    padding: 20px 0;
}

/* Grid - W3 Schools */
.img-grid {
    /* background-color: var(--seventh-color); */
    background-image: linear-gradient(rgba(251, 133, 0, 0.8), rgba(251, 133, 0, 0.8)), url("../images/filter2-pexels-rovenimagescom-949587.png");
    background-position: center center; 
    background-repeat: no-repeat; 
    background-size: cover;
    background-attachment: fixed;
    padding: 40px 0 50px 0;
}

.product-grid {
    background-color: var(--second-color);
    padding: 40px 0 50px 0;
}

.img-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 4px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.img-col {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.img-col img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

/* Product Previews */
.home-products {
    padding: 30px 0px 50px 0px;
    text-align: center;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.home-products h3 {
    padding-bottom: 18px;
}

.product-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.home-card {
    background-color: var(--third-color);
    border-radius: 5px;
    padding: 10px 5px;
    width: 22%;
    margin: 0 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.home-card h5 {
    margin-bottom: 30px;
}

.product-card {
    background-color: var(--second-color);
    border-radius: 5px;
    border: 1px solid #424242;
    padding: 10px 5px;
    width: 45%;
    margin: 5px 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.product-description {
    padding: 20px 5px;
}

.upper-left-background {
    background-image: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.3)), url("../images/filter4-pexels-clark-van-der-beken-12981877.jpg");
    background-position: bottom right; 
    background-repeat: no-repeat; 
    background-size: cover;
    background-attachment: fixed;
}

.lower-left-background {
    background-image: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.3)), url("../images/filter3-pexels-clark-van-der-beken-12981877.jpg");
    background-position: top right; 
    background-repeat: no-repeat; 
    background-size: cover;
    background-attachment: fixed;
}

.upper-right-background {
    background-image: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.3)), url("../images/filter2-pexels-clark-van-der-beken-12981877.jpg");
    background-position: bottom left; 
    background-repeat: no-repeat; 
    background-size: cover;
    background-attachment: fixed;
}

.lower-right-background {
    background-image: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.3)), url("../images/filter-pexels-clark-van-der-beken-12981877.jpg");
    background-position: top left; 
    background-repeat: no-repeat; 
    background-size: cover;
    background-attachment: fixed;
}

/* Single Product Page */
.single-product {
    padding: 20px 35px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
}

.single-product p {
    padding: 8px 0;
}

.product-price {
    text-align: center;
    padding-bottom: 20px;
}

.product-price h3 {
    padding: 10px 0 20px 0;
}

.single-description {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.single-text {
    width: 60%;
}

.single-img {
    padding: 10px;
    width: 40%;
}

.btn-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0 4px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.btn-col {
    width: 25%;
    margin: 2%;
}

/* Contact */
.about {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-content: center;
    justify-content: center;
}

.about-width {
    width: 30%;
    padding: 5px;
}

/* Privacy Policy & Terms */
.privacy {
    padding: 20px 35px;
}
 
/* Footer */
footer {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 20px 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    font-style: italic;
    background-color: var(--fifth-color);
    color: var(--second-color);
}

footer a {
    color: var(--second-color);
    padding: 5px 1px;
}

footer a:hover {
    background-color: var(--fourth-color);
    border-radius: 5px;
    padding: 5px 1px;
    color: var(--fifth-color);
}

/* MEDIA QUERIES */
/* For smaller desktop screens and smaller */
@media screen and (max-width: 980px) {
    .hero {
        padding: 70px 35px;
    }

    .img-grid {
        width: 100%;
    }

    .home-products {
        padding: 35px 35px 60px 35px;
        text-align: center;
        width: 100%;
    }

    footer {
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;
        padding: 20px 35px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        align-content: center;
    }
    
    footer p {
        text-align: center;
    }
}
 
/* For tablets and smaller*/
@media screen and (max-width: 768px) {
    header {
        padding: 20px 35px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
    
    .hero {
        padding: 40px 35px;
    }

    .img-col {
        flex: 50%;
        max-width: 50%;
    }

    .hidden-md {
        display: none;
    }

    .home-products {
        padding: 40px 35px 60px 35px;
        text-align: center;
    }

    .home-card {
        width: 45%;
        margin: 5px 5px;
    }

    .product-card {
        width: 90%;
        margin: 5px 5px;
    }

    .single-description {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding-bottom: 20px;
        align-items: center;
        justify-content: center;
        align-content: center;
    }

    .single-text {
        width: 100%;
    }
    
    .single-img {
        padding: 10px;
        width: 100%;
    }

    .btn-row {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 4px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .btn-col {
        width: 80%;
        margin: 2%;
    }

    .about-width {
        width: 50%;
        padding: 5px;
    }
}
 
/* For mobile phones and smaller */
@media screen and (max-width: 575px) {
    header {
        padding: 20px 35px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    .menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        list-style: none;
    }
    
    .menu li {
        padding: 12px 6px;
    }
    
    .hero {
        padding: 20px 35px;
    }

    .img-col {
        flex: 100%;
        max-width: 100%;
    }

    .hidden-sm {
        display: none;
    }

    .home-products {
        padding: 30px 35px 50px 35px;
        text-align: center;
    }

    .home-card {
        width: 90%;
        margin: 5px 5px;
    }

    .about-width {
        width: 80%;
        padding: 5px;
    }
}