* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --first-color: #000;
    --second-color: #fff;
    --third-color: #8ecae6;
    --fourth-color: #219ebc;
    --fifth-color: #023047;
    --sixth-color: #ffb703;
    --seventh-color: #fb8500;
}
  
html {
    height: 100%;
    box-sizing: border-box;
}
  
body {
    position: relative;
    margin: 0;
    min-height: 100%;
    padding-bottom: 6.47rem;
    box-sizing: inherit;
}

/* Header */
header {
    padding: 20px 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

/* Nav & Footer Menus */
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.menu li {
    padding-right: 12px;
}

/* Hero Section */
.hero {
    padding: 100px 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.hero p {
    text-align: center;
    padding: 20px 0;
}

/* Home Img Grid - W3 Schools */
.img-row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.img-col {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.img-col img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}
 
/* Footer */
footer {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 20px 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
} 

/* MEDIA QUERIES */
/* For smaller desktop screens and smaller */
@media screen and (max-width: 980px) {
    .hero {
        padding: 70px 35px;
    }
}
 
/* For tablets and smaller*/
@media screen and (max-width: 768px) {
    .hero {
        padding: 40px 35px;
    }

    .img-col {
        flex: 50%;
        max-width: 50%;
    }
}
 
/* For mobile phones and smaller */
@media screen and (max-width: 575px) {
    header {
        padding: 20px 35px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    .menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        list-style: none;
    }
    
    .menu li {
        padding: 12px 6px;
    }
    
    .hero {
        padding: 20px 35px;
    }

    .img-col {
        flex: 100%;
        max-width: 100%;
    }

    footer {
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;
        padding: 20px 35px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        align-content: center;
    }
    
    footer p {
        text-align: center;
    }
}